
*.log
web_modules/
build/
.hypothesis/
.pdm-build/
*.pid
dist/
target/
.coverage
.streamlit/secrets.toml
sdist/
__pycache__/
rabbitmq-data/
.node_repl_history
ENV/
.spyproject
celerybeat-schedule
*.rdb
.lock-wscript
/vendor/
.yarn-integrity
*.lcov
!.env.example
bower_components
venv.bak/
.env.*
.grunt
*.manifest
*.pid.lock
*.egg-info/
.dynamodb/
pids
.serverless/
.pytype/
cython_debug/
.next
!.yarn/releases
.stylelintcache
lerna-debug.log*
yarn-debug.log*
!.yarn/plugins
coverage.xml
db.sqlite3-journal
.temp
venv/
.scrapy
*.spec
.pybuilder/
.svelte-kit/
*.mo
htmlcov/
wheels/
.pyre/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
*.so
!.yarn/versions
.env
/site
env/
mnesia/
.yarn/*
.pypirc
.vite/
*.sage.py
npm-debug.log*
.nuxt
.nox/
**/.vitepress/dist
.ipynb_checkpoints
.mypy_cache/
.spyderproject
dist
logs
develop-eggs/
dmypy.json
.installed.cfg
coverage
__marimo__/
.vscode-test
.nyc_output
downloads/
pip-delete-this-directory.txt
vite.config.ts.timestamp-*
*.pot
celerybeat.pid
rabbitmq/
marimo/_lsp/
*$py.class
docs/_build/
env.bak/
.abstra/
.fusebox/
lib/
.tox/
.envrc
.cache
.eslintcache
composer.phar
**/.vitepress/cache
*.py.cover
.pixi
.pdm-python
var/
*.seed
*.egg
local_settings.py
out
parts/
*.tsbuildinfo
!.yarn/patches
.npm
.ropeproject
cover/
marimo/_static/
lib-cov
.output
pip-log.txt
instance/
.firebase/
*.py[codz]
eggs/
yarn-error.log*
.dmypy.json
lib64/
.vuepress/dist
.webassets-cache
.coverage.*
build/Release
db.sqlite3
jspm_packages/
node_modules/
nosetests.xml
__pypackages__/
vite.config.js.timestamp-*
.ruff_cache/
.Python
*.tgz
.cache/
!.yarn/sdks
MANIFEST
profile_default/
.pnp.*
.venv
ipython_config.py
*.aof
.parcel-cache
.docusaurus
.eggs/
*.cover
.pytest_cache/
activemq-data/
.tern-port
share/python-wheels/
# REFNOTE: created by technomantic spirit with selective ignorance and artistical resonance of the Saint Mission of Technomancers
# REFNOTE: this file (./.gitignore) was generated by selective_ignorance.sh 2025 by Sett Sarverott (https://gist.github.com/Sarverott/a9933eea3dd0e4fc54e8ff275bd79dcf under terms of CC BY-ND 4.0)
# REFNOTE: based on resources delivered from gitignore repo with templates by Github (https://github.com/github/gitignore under terms of CC0-1.0)
# REFNOTE: content of file have to contain this information REFNOTE to show respect for work of authors that gave opportunity to create this file
# REFNOTE: by casting spell `bash git python,node,composer` for https://github.com/headrace32/pricecheck-desktop-site.git with  [UNIXUSAT=1761719160239]
# REFNOTE: best regards and with goodluck charm casting
# REFNOTE:    ~Apokryf Institute of Technomantic Research
